@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

img{
    width: 200px;
    height: 300px;
    border-radius: 5cm;
    border-style: double;
}

.contenedor{
    margin-top: 10px;
    margin-bottom: 10px;
}

.caja1{
    padding: 10px;
    background-color: rgb(145, 235, 205);
}

.caja2{
    padding: 10px;
    background-color: rgb(217, 179, 123);
}

.caja3{
    padding: 10px;
    background-color: rgb(148, 245, 245);
}

header img{
    height: 100px;
    width: 265px;
    border-radius: 0%;
    border-style: none;
}

#carouselExample img{
    height: 500px;
    width: 500px;
    border-radius: 0%;
    border-style: none;
}

.intro{
    font-family: "Libre Bodoni", serif; tamaño-óptico-de-fuente: automático; peso de fuente: <peso>; estilo de fuente: normal;
    padding: 10px;
    margin-bottom: 10px;
}